<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletHello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet element allows us to give a name -->
  <servlet> 
  <servlet-name>Hello servlet </servlet-name>
  <servlet-class>com.bhavey.servlet.HelloWorldServlet</servlet-class>
  </servlet>
  <!-- we need to map the servlet to a url pattern -->
  <servlet-mapping>
  <servlet-name>Hello servlet </servlet-name>
  <url-pattern>/hello</url-pattern>
  <!-- when our web app is accessed , we use this hello -->
  <!-- web container will automatically invoke the servlet -->
  <!-- hence calling the service method -->
  </servlet-mapping>
  
  <servlet> 
  <servlet-name>AdditionServlet</servlet-name>
  <servlet-class>com.bhavey.servlet.AdditionClass</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdditionClass</servlet-name>
  <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  
</web-app>